
/* 
This document contains structural markup such as widths, margins, padding, and floats
*/

/********************************* BEGIN PAGER ************************************************/

#forum .pager a {
  padding: .1em .3em; 
  margin: .1em; 
  border: 1px solid black;
}

#forum .pager li {
  padding:0pt;
}

#forum .pager li.pager-current {
	padding: .2em .3em .2em .3em;
}


/********************************* END PAGER ************************************************/

/********************************* BEGIN FORUM CONTAINERS ********************************************/

.forum-description {
  padding: 10px 0px 10px 0px;
}

td.forum {
  padding-left: 15px;
}

#forum td.container {
  padding-left: 15px;
  padding-top: 5px;
  margin-top: 0px;
  border-top: 0;
  line-height: 1;
}
#forum .container .description {
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: normal;
  font-size: 85%;
  line-height: 1.2;
}

#forum .description {
  padding-left: 0px;
  margin-left: 0;
}
/********************************* END FORUM CONTAINERS ********************************************/

/********************************* BEGIN FORUM TABLES ********************************************/

/* General */

#forum table {
  border: thin solid black
}

#forum {
	width: 100%;
}

#forum table {
  width: 100%;
}

#forum th {
  border-bottom: 0px !important;
}

#forum tr.even, 
#forum tr.odd {
  border: 0px none;
  border-bottom: 0px none; 
}

.forum-indented {
	padding-left: 3em;
}

/* Containers */

#forum td.container {
  padding-top: 5px;
}

#forum .description {
  padding-left: 3px;
}

/* Topic listings */

#forum td.views {
  text-align:center;
  white-space:nowrap;
}

#forum td.topic{
  width: 600px;
  padding: 10px;
}

#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
}

#forum td .links {
  padding-top: 0.7em;
}

/* Top links */
#forum li {
	margin: 0;
	padding-right:1em;
}

/* Icons */
#forum td.icon{
	padding: 10px;
}

.icon-explain {
	padding: 2px;
}


/********************************* BEGIN FORUM TOPIC ********************************************/

.forum-comment {
  margin: 0px 0px 5px 0;
  padding: 0 0 0 0;
  border: thin solid black;
}

/* Header at the top of each post */
.post-info {
	height: 2em;
}

.postedon{
	padding: 0 5px;
	float: left;
}

.posttitle{
	padding: 5px;
	width: 96%;
	border-bottom: thin solid black;
}

.forum-comment .new {
  float:left;
}

.post-num{
	float: right;
	margin-right: 5px;
}

.forum-post-wrapper {
  clear:both;
  border-top: thin solid black;
  border-bottom: thin solid black;
}

.forum-comment-left {
	float: left;
	width: 150px;
	line-height: 110%;
}

.forum-comment-left .author-name {
  margin-bottom: 5px;
}

.forum-comment-left .picture {
	float: none;
	padding-left: 0px;
	margin: .5em 0px .5em 0px;
}

.forum-comment-left .picture img {
	padding: .5em;
	height: 85px;  /* reducing and unifying size of user pictures Thomas */
	width: auto;
}

.author-title, .author-posts, .author-regdate, .author-points {
padding-bottom: .2em;
}

.forum-comment-right {
  margin-left: 150px; /*Set left margin to LeftColumnWidth*/
}

.forum-comment-right .content {
	margin: .5em;
}

#main #content .node .forum-comment .forum-comment-right .content {
  padding-right: 5px;
}

.innertube{
  margin: 10px 7px 10px 9px;
}

.forum-comment .links {
	text-align: right;
	height: 2.5em;
	line-height: 2.5em;
	margin: 2px 2px 2px 0px;
}

/********************************* END FORUM TOPIC ********************************************/

.clear {
	clear:both;
}
